* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: #0a1d33;
    color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#name {
    text-transform: capitalize;
}